In [14]:
import os 
import pandas as pd
from sqlalchemy import create_engine

SQL_URI = os.environ['SQL_URI']
engine = create_engine(SQL_URI, pool_recycle=600)


CAMINHO = 'C:\\Users\\25052288840\\Downloads'

In [27]:
df = pd.read_csv(os.path.join(CAMINHO, 'empresas.csv'))
print(len(df))

219072

In [28]:
df = df[['nr_interv_rad', 'nm_empresarial_pj']]

In [31]:
df.columns=['cnpj', 'nome']

In [32]:
df.head()

       cnpj                                               nome
0  62379037  INDUSTRIA DE PRODUTOS ALIMENTICIOS MAVALERIO LTDA
1  15422692      INNOVARE INDUSTRIA E COMERCIO DE BEBIDAS LTDA
2  14764620                          VIBE BRASIL SOFTWARE LTDA
3  34227630  KEMPIM COMERCIO, IMPORTACAO E EXPORTACAO DE PE...
4  15338104                          SKY TOYS IMPORTACAO LTDA.

In [36]:

df.to_sql('laudo_empresas', engine, if_exists='append', index=False)